a:link {
  color: rgb(23, 0, 128);
}

a:visited {
  color: rgba(199, 167, 25, 0.336);
}

a:hover {
  color: orange;
  font-size: 32px;
}

a:focus {
  color: red
  font-size: 32px;
}

a:active {
  color: rgb(77, 5, 87);
}